<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Quiz submission form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Form</h1>
    <form action="#" th:action="@{'/quiz/new'}" th:object="${quiz}" method="post">
    	<p>Grade: <input type="text" th:field="*{grade}" /></p>
    	<p>Number: <input type="text" th:field="*{number}" /></p>
        <p>Message: <input type="text" th:field="*{category}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>